@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

header {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  font-family: "Righteous", cursive;
}

header img {
  margin: 1rem;
  height: 5rem;
}
