<div class="container">
  <form class="form">
    <img src="../../../assets/img/login-image.svg" alt="Imagem de login" />
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        [formControl]="email"
        [(ngModel)]="creds.email"
        name="email"
        matInput
        type="email"
        placeholder="email@email.com"
        required
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input
        [formControl]="senha"
        matInput
        [(ngModel)]="creds.senha"
        name="senha"
        type="password"
        placeholder="Digite aqui"
        required
      />
    </mat-form-field>

    <button
      [disabled]="!validaCampos()"
      class="login-buttom"
      mat-raised-button
      color="primary"
      (click)="logar()"
    >
      Entrar
    </button>
  </form>
</div>
