.mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Accept {
  background-color: #B03748;
  color: white;
}
.Decline {
  background-color: #c1c1c1;
  color: white;
}
