.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-dialog-actions {
  gap: 1rem;
}

.Accept {
  background-color: #cf1919;
  color: white;
}
.Decline {
  background-color: #404040;
  color: white;
}

img {
  width: 50%;
}
